@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply inline-block border-solid border border-my-orange-300 text-black bg-my-orange-100 uppercase rounded-full shadow-md hover:bg-my-orange-300 hover:border-my-orange-400 hover:shadow-lg active:bg-my-orange-400 active:shadow-lg transition duration-150 ease-in-out;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
